Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Sweeper 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Crab 1 1
XXXXX
XXIXX
XICIX
XXXXX
XXXXX
Mandragora 1 2
XXXXX
XXIXX
XXCII
XXXXX
XXXXX
Queen 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXXXX
Trooper 2 3
XXIXX
XXIXX
XXCIX
XXIXX
XXIXX
Cavestalker 2 4
XXIXX
XXXIX
XXCIX
XXXIX
XXIXX
Lobber 2 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Wolf 1 2
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Valron 2 3
XXXXX
XIXIX
XXCXX
XIXIX
XXXXX
Mu 2 1
XXXXX
XIXXX
XICXX
XXIXX
XXXXX
Grangalan 3 3
XXXXX
XIIXX
XICIX
XXIIX
XXXXX
Wheel 1 1
XXXXI
XXXXX
XXCXX
XXXXX
XXXXI
Big 3 5
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX
Grenade 2 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Rider 3 5
XXXXX
XXXXX
XXCIX
XIIIX
XXXXX
Quetz 2 3
XXIXX
XXXIX
XXCXX
XXXIX
XXIXX
Flame 1 3
XXXXX
XIIXX
XICXX
XIIXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Sweeper 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Crab 1 1
XXXXX
XXIXX
XICIX
XXXXX
XXXXX
Mandragora 1 2
XXXXX
XXIXX
XXCII
XXXXX
XXXXX
Queen 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXXXX
Trooper 2 3
XXIXX
XXIXX
XXCIX
XXIXX
XXIXX
Cavestalker 3 4
XXIXX
XXXIX
XXCIX
XXXIX
XXIXX
Lobber 2 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Wolf 1 2
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Valron 2 3
XXXXX
XIXIX
XXCXX
XIXIX
XXXXX
Mu 2 1
XXXXX
XIXXX
XICXX
XXIXX
XXXXX
Grangalan 3 3
XXXXX
XIIXX
XICIX
XXIIX
XXXXX
Wheel 1 1
XXXXI
XXXXX
XXCXX
XXXXX
XXXXI
Big 3 5
XXIXX
XIXIX
IXCXI
XIXIX
XXIXX
Grenade 2 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Rider 3 5
XXXXX
XXXXX
XXCIX
XIIIX
XXXXX
Quetz 2 3
XXIXX
XXXIX
XXCXX
XXXIX
XXIXX
Flame 1 3
XXXXX
XIIXX
XICXX
XIIXX
XXXXX