Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Sweeper 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Crab 1 1
XXXXX
XXIXX
XICIX
XXXXX
XXXXX
Mandragora 1 2
XXXXX
XXIXX
XXCII
XXXXX
XXXXX
Queen 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXXXX
Trooper 2 3
XXIXX
XXIXX
XXCIX
XXIXX
XXIXX
Cavestalker 2 4
XXIXX
XXXIX
XXCIX
XXXIX
XXIXX
Lobber 2 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Sweeper 2 2
XXXXX
XIIXX
XXCXX
XIIXX
XXXXX
Crab 1 1
XXXXX
XXIXX
XICIX
XXXXX
XXXXX
Mandragora 1 2
XXXXX
XXIXX
XXCII
XXXXX
XXXXX
Queen 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXXXX
Trooper 2 3
XXIXX
XXIXX
XXCIX
XXIXX
XXIXX
Cavestalker 3 4
XXIXX
XXXIX
XXCIX
XXXIX
XXIXX
Lobber 2 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX